// $mobile-screen
.settings-container {
  width: 50%;
  height: auto;
  min-height: 450px; // can change this for height related issues
  background-color: $baby-pink;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.setters {
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.set {
  &__header {
    border-bottom: 1px solid grey;
  }
}
